body {
    margin: 0;
    box-sizing: border-box;
}

#root {
    white-space: pre-line;
    overflow-x: hidden;
}

.dot {
    scale: unset;
    width: 6px;
    height: 6px;
  
  
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
  
::-webkit-scrollbar-thumb {
    background: #A0AEC0; 
    border-radius: 24px;
}
  
::-webkit-scrollbar-track {
    background: transparent; 
}