body {
    margin: 0;
    box-sizing: border-box;
}

#root {
    white-space: pre-line;
    overflow-x: hidden;
}

.dot {
    scale: unset;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar {
    width: 0.375rem;
    height: 0.375rem;
}

::-webkit-scrollbar-thumb {
    background: #A0AEC0;
    border-radius: 24px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.swiper-pagination {
    position: absolute;
    bottom: 24px;
    right: 50%;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.swiper-pagination-bullet {
    display: block;
    width: 6px;
    height: 6px;
    background-color: #757575;
    border-radius: 100%;
}

.swiper-pagination-bullet-active {
    background-color: #FFFFFF;
    opacity: 80%;
}